# indexing

In [7]:
employee_data=["Ali",125000,"Google",5]

In [8]:
employee_data.index("Ali")

0

In [9]:
employee_data[0]

'Ali'

In [10]:
msg = employee_data[0] + " is working in " + employee_data[2] + " for " + str(employee_data[3]) + " years " + " and his salary is " + str(employee_data[1])
print(msg)

Ali is working in Google for 5 years  and his salary is 125000

In [11]:
StudentData=["Ahmaed","Bilal","Government College University","Computer Science","BS",50000,"28 January 2020","5 February 2020"]

In [12]:
msg =" Hello " + StudentData[0] + " " + StudentData[1] + " \n " + " your " + " application " + " is " + " accepted " + " for " + " admission " + " in "  + StudentData[3] + StudentData[4] + " in " + StudentData[2] + " \n " + " you " + " have " +  " to " + " submit" + " fees " + str(StudentData[5]) + " before " + StudentData[6] + " \n " + " your " + " classes " + "will" + "start" + " from " + StudentData[7] + " \n " + " Thanks. " 
print(msg)

 Hello Ahmaed Bilal
  your  application  is  accepted  for  admission  in Computer ScienceBS in Government College University
  you  have  to  submit fees 50000 before 28 January 2020
  your  classes willstart from 5 February 2020
  Thanks.

# slicing

In [13]:
cities=["faisalabad","lahore","islamabad","peshawar","quetta","sahiwal","rawalpindi","sialkot"]

In [14]:
# +ve slicing

In [15]:
cities[0:4]

['faisalabad', 'lahore', 'islamabad', 'peshawar']

In [16]:
cities[2:6]

['islamabad', 'peshawar', 'quetta', 'sahiwal']

In [17]:
cities[5:]

['sahiwal', 'rawalpindi', 'sialkot']

In [18]:
# -ve slicing

In [19]:
cities[-4:-1]

['quetta', 'sahiwal', 'rawalpindi']

In [20]:
cities[-5:]

['peshawar', 'quetta', 'sahiwal', 'rawalpindi', 'sialkot']

# Upadate lists

In [42]:
StudentData=["ali raza",22,91.24,5,"computer science"]

In [43]:
StudentData.append("20 feb 2019")
StudentData.append(8)

In [44]:
StudentData

['ali raza', 22, 91.24, 5, 'computer science', '20 feb 2019', 8]

In [45]:
StudentData.insert(4,25000)
StudentData.insert(1,"M.Iqbal")

In [46]:
#changing names and number
StudentData

['ali raza',
 'M.Iqbal',
 22,
 91.24,
 5,
 25000,
 'computer science',
 '20 feb 2019',
 8]

In [47]:
StudentData.remove("ali raza")
StudentData.insert(0,"zohaib ali")

In [48]:
StudentData

['zohaib ali',
 'M.Iqbal',
 22,
 91.24,
 5,
 25000,
 'computer science',
 '20 feb 2019',
 8]

In [49]:
StudentData.remove(5)
StudentData.insert(4,7)

In [50]:
StudentData

['zohaib ali',
 'M.Iqbal',
 22,
 91.24,
 7,
 25000,
 'computer science',
 '20 feb 2019',
 8]

In [51]:
StudentData.remove("computer science")
StudentData.remove(91.24)

In [52]:
StudentData

['zohaib ali', 'M.Iqbal', 22, 7, 25000, '20 feb 2019', 8]

In [53]:
StudentData.pop()
StudentData.pop(3)

7

In [54]:
StudentData

['zohaib ali', 'M.Iqbal', 22, 25000, '20 feb 2019']

# multidimensional list task

In [2]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

#salary greater 50000

In [3]:
for i in employeeData[0]:
    print("Talha","Nasir")

Talha Nasir
Talha Nasir
Talha Nasir

In [4]:
salary_grtr_50000=0
for i in employeeData:
    if(i[1]>50000):
        print(i[0:2])

['Talha', 55000]
['Nasir', 79000]

#total salary

In [5]:
ts=0
for i in employeeData:
    ts+=i[1]

In [6]:
ts

213000

#changing salary

In [7]:
for i in employeeData:
    if i[0]=="Nasir":
        i[1]="90000"
        i[2]="Product Manager"

In [8]:
print(employeeData[2])

['Nasir', '90000', 'Product Manager']

In [13]:
for i in employeeData:
    if i[0]=="Khalid":
        i[1]==50000
        i[2]=="DBA"
print(employeeData[3])

['Khalid', 44000, 'DBA']

# login user

In [14]:
# Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [15]:
if username=="faizan1214":
    if password=="qwerty":
        print("login successfull")
        print("Redirecting")
else:
    print("incorrect login detail")

login successfull
Redirecting

In [17]:
True or False

True

In [18]:
username=="faizan1214" or password=="qwerty"

True

In [19]:
if username=="faiz1214":
    if password=="1214":
        print("login succeed")
        print("correct password")
else:
   print("incorrect login detail")

incorrect login detail